@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ecf0f3;
    font-family: 'Playfair Display', serif;
}

.container {
    width: 26%;
    background-color: black;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 12px 12px 20px #cbced1, -12px -12px 20px #ffffff;
}

.display #screen {
    width: 97%;
    height: 100px;
    font-size: 35px;
    outline: none;
    border: none;
    color: white;
    text-align: right;
    background: black;
    border-top: 6px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.btns {
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btns .row button {
    width: 50px;
    height: 50px;
    font-size: 16px;
    border: none;
    outline: none;
    background: black;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 5px;
    border-radius: 50%;
    transition: .2s;
}

.btns .row button:hover {
    background: #fff;
    color: black;
    border: 1px solid rgba(16, 16, 16, 0.5);
}

#eval {
    background: rgb(116, 236, 112);
    color: black;
    width: 50px;
    height: 50px;
}

.btns .row button.green {
    background: rgb(116, 236, 112);
    color: black
}

.btns .row button.green:hover {
    box-shadow: inset 5px 5px 8px rgb(116, 236, 112), inset -7px -7px 8px rgb(189, 228, 191);
    color: black;
}